body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
}

.cart {
    background-color: beige;
    padding: 50px;
}

.item {
    display: flex;
    align-items: center;
    margin: 0 0 15px 0;
    gap: 30px;
}

.cart button {
    cursor: pointer;
}

.cart button:nth-child(2),
.cart button:nth-child(4) {
    border-radius: 50%;
    background-color: white;
    color: black;
    border: groove;
    cursor: pointer;
}

.like-btn {
    cursor: pointer;
    color: black;
    border: thick;
    padding: 5px 10px;
    margin: 0 5px;
    border-radius: 50%;
    background-color: transparent;
}

.total-container {
    margin: 60px;
    font-size: x-large;
    font-weight: 900;
}

.cart-total {
    margin-top: 20px;
    text-align: right;
}
